<section class="section advantages">
    <div class="container">
        <div class="advantages__container">
            <h2 class="section__title advantages__title">Преимущества</h2>
            <div class="advantages__body">
                <div class="advantages__indicators indicators">
                    <div class="indicators__item">
                        <p class="indicators__number">10+</p>
                        <p class="indicators__text">лет на рынке</p>
                    </div>
                    <div class="indicators__item">
                        <p class="indicators__number" data-number="650">650+</p>
                        <p class="indicators__text">завершенных проектов</p>
                    </div>
                    <div class="indicators__item">
                        <p class="indicators__number" data-number="1500">1500+</p>
                        <p class="indicators__text">штатных асессоров</p>
                    </div>
                </div>
<button class="advantages__btn btn btn--color ">
                Оставить заявку
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#icons--arrow_btn"></use>
                </svg>
            </button>
            </div>
            <div class="advantages__cards">
                <div class="advantages__card">
                    <span>Штатные
                        сотрудники </span>
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#advantages--icon_1"></use>
                    </svg>
                </div>
                <div class="advantages__card">
                    <span>Скорость и качество</span>
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#advantages--icon_2"></use>
                    </svg>
                </div>
                <div class="advantages__card">
                    <span>Бесплатное
                        пилотирования </span>
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#advantages--icon_3"></use>
                    </svg>
                </div>
                <div class="advantages__card">
                    <span>Экспертиза в разных индустриях </span>
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#advantages--icon_3"></use>
                    </svg>
                </div>
                <div class="advantages__card">
                    <span>Контроль качества на каждом проекте </span>
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#advantages--icon_4"></use>
                    </svg>
                </div>
            </div>
            <!-- <button class="advantages__btn btn btn--color ">
                Оставить заявку
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#icons--arrow_btn"></use>
                </svg>
            </button> -->
        </div>
    </div>

</section>