<section class="section cases">
    <div class="container">
        <div class="cases__container">
            <h2 class="section__title cases__title">Наши кейсы</h2>

            <div class="cases__body">
                <div class="cases__cards">
                    <div class="cases__card cases-card">
                        <div class="cases-card__img">
                            <picture>
                                <source srcset="images/cases/slide_1.avif" type="image/avif" />
                                <source srcset="images/cases/slide_1.webp" type="image/webp" />
                                <img src="images/cases/slide_1.png" alt="Фото в карточке">
                            </picture>
                        </div>

                        <div class="cases-card__content">
                            <h4 class="cases-card__title">Разметка аудио для call-центра</h4>
                            <p class="cases-card__text">Технологии NLP оптимизировали рабочий процесс call-центра и
                                сократили количество нарушений со стороны операторов</p>
                            <a class="cases-card__link" href="#" aria-label="Подробнее про кейс">Подробнее <svg
                                    class="icon">
                                    <use xlink:href="images/sprite.svg#icons--arrow_btn"></use>
                                </svg></a>
                        </div>
                    </div>
                    <div class="cases__card cases-card">
                        <div class="cases-card__img">
                            <picture>
                                <source srcset="images/cases/slide_2.avif" type="image/avif" />
                                <source srcset="images/cases/slide_2.webp" type="image/webp" />
                                <img src="images/cases/slide_2.png" alt="Фото в карточке">
                            </picture>
                        </div>

                        <div class="cases-card__content">
                            <h4 class="cases-card__title">Разметка видео для видеосистем</h4>
                            <p class="cases-card__text">Сотрудничество улучшило показатели нейронной сети для
                                отслеживания людей в помещении по видео на 14%
                            </p>
                            <a class="cases-card__link" href="#" aria-label="Подробнее про кейс">Подробнее
                                <svg class="icon">
                                    <use xlink:href="images/sprite.svg#icons--arrow_btn"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="cases__card cases-card">
                        <div class="cases-card__img">
                            <picture>
                                <source srcset="images/cases/slide_3.avif" type="image/avif" />
                                <source srcset="images/cases/slide_3.webp" type="image/webp" />
                                <img src="images/cases/slide_3.png" alt="Фото в карточке">
                            </picture>
                        </div>

                        <div class="cases-card__content">
                            <h4 class="cases-card__title">Система распознавания лиц
                            </h4>
                            <p class="cases-card__text">Для обеспечения безопасности на станциях метро было
                                проанализировано 10 тысяч кадров</p>
                            <a class="cases-card__link" href="#" aria-label="Подробнее про кейс">Подробнее <svg
                                    class="icon">
                                    <use xlink:href="images/sprite.svg#icons--arrow_btn"></use>
                                </svg></a>
                        </div>
                    </div>
                    <div class="cases__card cases-card">
                        <div class="cases-card__img">
                            <picture>
                                <source srcset="images/cases/slide_4.avif" type="image/avif" />
                                <source srcset="images/cases/slide_4.webp" type="image/webp" />
                                <img src="images/cases/slide_4.png" alt="Фото в карточке">
                            </picture>
                        </div>

                        <div class="cases-card__content">
                            <h4 class="cases-card__title">Разметка статей для СМИ</h4>
                            <p class="cases-card__text">Сотрудничество позволило Food.ru разметить 10.000 статей за один
                                месяц и адаптировать материалы сайта к изменениям в законодательстве. Сотрудничество позволило Food.ru разметить 10.000 статей за один
                                месяц и адаптировать материалы сайта к изменениям в законодательстве</p>
                            <a class="cases-card__link" href="#" aria-label="Подробнее про кейс">Подробнее <svg
                                    class="icon">
                                    <use xlink:href="images/sprite.svg#icons--arrow_btn"></use>
                                </svg></a>
                        </div>
                    </div>
                </div>
                <button class="cases__btn btn ">
                    Смотреть все кейсы
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#icons--arrow_btn"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</section>