<section class="hero" id="hero">
    <div class="container">
        <div class="hero__container">
            <div class="hero__content">
                <h1 class="hero__title">
                    Data Light
                </h1>
                <p class="hero__subtitle">подготовим данные для машинного обучения</p>

                <ul class="hero__list">
                    <li class="hero__item">Сбор и разметка любых данных</li>
                    <li class="hero__item">Готовые датасеты</li>
                    <li class="hero__item">Синтетические данные</li>
                    <li class="hero__item">Модерация</li>
                </ul>

                <button class="hero__btn btn btn--color ">
                    Оставить заявку
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#icons--arrow_btn"></use>
                    </svg>
                </button>
            </div>
            <div class="hero__img">
                <div class="hero__bg"></div>
                <picture >
                    <source srcset="images/hero/hero.avif" type="image/avif"/>
                     <source srcset="images/hero/hero.webp" type="image/webp"/>
                    <img src="images/hero/hero.png" alt="Фото платы">
                </picture>
            </div>
        </div>

        @@include('components/logos.html')
    </div>
</section>