<div class="logos-slider">
    <div class="logos-slider__slide">
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_1.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_2.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_3.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_4.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_5.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_6.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_7.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_8.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_9.png" alt="Логотип">
        </div>

        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_1.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_2.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_3.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_4.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_5.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_6.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_7.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_8.png" alt="Логотип">
        </div>
        <div class="logos-slider__item">
            <img class="logos-slider__img" src="../images/logos/slide_9.png" alt="Логотип">
        </div>
    </div>
</div>