<div class="logos-slider">
    <div class="logos-slider__slide">
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_1.avif" type="image/avif" />
                <source srcset="images/logos/slide_1.webp" type="image/webp" />
                <img src="images/logos/slide_1.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_2.avif" type="image/avif" />
                <source srcset="images/logos/slide_2.webp" type="image/webp" />
                <img src="images/logos/slide_2.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_3.avif" type="image/avif" />
                <source srcset="images/logos/slide_3.webp" type="image/webp" />
                <img src="images/logos/slide_3.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_4.avif" type="image/avif" />
                <source srcset="images/logos/slide_4.webp" type="image/webp" />
                <img src="images/logos/slide_4.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_5.avif" type="image/avif" />
                <source srcset="images/logos/slide_5.webp" type="image/webp" />
                <img src="images/logos/slide_5.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_6.avif" type="image/avif" />
                <source srcset="images/logos/slide_6.webp" type="image/webp" />
                <img src="images/logos/slide_6.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_7.avif" type="image/avif" />
                <source srcset="images/logos/slide_7.webp" type="image/webp" />
                <img src="images/logos/slide_7.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_8.avif" type="image/avif" />
                <source srcset="images/logos/slide_8.webp" type="image/webp" />
                <img src="images/logos/slide_8.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_9.avif" type="image/avif" />
                <source srcset="images/logos/slide_9.webp" type="image/webp" />
                <img src="images/logos/slide_9.png" alt="Логотип">
            </picture>
        </div>

        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_1.avif" type="image/avif" />
                <source srcset="images/logos/slide_1.webp" type="image/webp" />
                <img src="images/logos/slide_1.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_2.avif" type="image/avif" />
                <source srcset="images/logos/slide_2.webp" type="image/webp" />
                <img src="images/logos/slide_2.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_3.avif" type="image/avif" />
                <source srcset="images/logos/slide_3.webp" type="image/webp" />
                <img src="images/logos/slide_3.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_4.avif" type="image/avif" />
                <source srcset="images/logos/slide_4.webp" type="image/webp" />
                <img src="images/logos/slide_4.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_5.avif" type="image/avif" />
                <source srcset="images/logos/slide_5.webp" type="image/webp" />
                <img src="images/logos/slide_5.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_6.avif" type="image/avif" />
                <source srcset="images/logos/slide_6.webp" type="image/webp" />
                <img src="images/logos/slide_6.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_7.avif" type="image/avif" />
                <source srcset="images/logos/slide_7.webp" type="image/webp" />
                <img src="images/logos/slide_7.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_8.avif" type="image/avif" />
                <source srcset="images/logos/slide_8.webp" type="image/webp" />
                <img src="images/logos/slide_8.png" alt="Логотип">
            </picture>
        </div>
        <div class="logos-slider__item">
            <picture class="logos-slider__img">
                <source srcset="images/logos/slide_9.avif" type="image/avif" />
                <source srcset="images/logos/slide_9.webp" type="image/webp" />
                <img src="images/logos/slide_9.png" alt="Логотип">
            </picture>
        </div>
    </div>
</div>