<section class="section services">
    <div class="container services__container">
        <h2 class="section__title services__title">Наши услуги</h2>
        <div class="services__body">
            <div class="services__cards">
                <div class="services__card services-card services-card--color">
                    <h3 class="services-card__title">Модерация
                        контента</h3>
                    <div class="services-card__content">
                        <p class="services-card__text">Контроль и управление информацией на платформе или в сообществе.
                            Это включает проверку на соответствие правилам, удаление нежелательного контента и
                            обеспечение безопасности пользователей.</p>
                    </div>
                </div>
                <div class="services__card services-card services-card--large ">
                    <h3 class="services-card__title">Разметка данных</h3>
                    <div class="services-card__content">
                        <p class="services-card__text">Процесс присвоения или добавления меток к данным, чтобы они стали
                            понятными для компьютерных систем. Эти метки могут указывать на определенные характеристики
                            или категории данных, что облегчает их анализ, классификацию и использование в машинном
                            обучении.</p>
                        <picture class="services-card__img">
                            <source srcset="images/services/slide_1.avif" type="image/avif" />
                            <source srcset="images/services/slide_1.webp" type="image/webp" />
                            <img src="images/services/slide_1.png" alt="Фото в карточке">
                        </picture>
                    </div>
                </div>
                <div class="services__card services-card services-card--color green">
                    <h3 class="services-card__title">Сбор
                        данных</h3>
                    <div class="services-card__content">
                        <p class="services-card__text">В проектах машинного обучения сбор данных предшествует таким
                            этапам, как очистка и предварительная подготовка данных, обучение и тестирование модели,
                            принятие решений на основе результатов работы модели.</p>
                    </div>
                </div>
                <div class="services__card services-card services-card--color services-card--large ">
                    <h3 class="services-card__title">Синтетические
                        данные</h3>
                    <div class="services-card__content">
                        <p class="services-card__text">Создаются компьютерными программами для имитации реальных данных.
                            Их применяют для тестирования, обучения моделей машинного обучения и других целей, когда
                            реальные данные недоступны или непригодны.
                        </p>
                         <picture class="services-card__img">
                            <source srcset="images/services/slide_2.avif" type="image/avif" />
                            <source srcset="images/services/slide_2.webp" type="image/webp" />
                            <img src="images/services/slide_2.png" alt="Фото в карточке">
                        </picture>
                    </div>
                </div>
                <div class="services__card services-card services-card--large ">
                    <h3 class="services-card__title">Датасеты</h3>
                    <div class="services-card__content">
                        <div class="services-card__inner">
                            <p class="services-card__text">В проектах машинного обучения сбор данных предшествует таким
                                этапам, как очистка и предварительная подготовка данных, обучение и тестирование модели,
                                принятие решений на основе результатов работы модели.
                            </p>
                            <p class="services-card__descr">25+ готовых лицензий</p>
                        </div>
                         <picture class="services-card__img">
                            <source srcset="images/services/slide_3.avif" type="image/avif" />
                            <source srcset="images/services/slide_3.webp" type="image/webp" />
                            <img src="images/services/slide_3.png" alt="Фото в карточке">
                        </picture>
                    </div>
                </div>
            </div>

            <button class="services__btn btn ">
                Все услуги
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#icons--arrow_btn"></use>
                </svg>
            </button>
        </div>
    </div>
</section>