@mixin font-default {
	font-size: 1rem;
	line-height: 120%;
	font-family: "Mulish", sans-serif;
	font-weight: 400;
}

@mixin font-custom($fs: 1rem, $fw: 400, $ff, $lh: 120% ) {
	font-size: $fs;
	line-height: $lh;
	font-family: $ff;
	font-weight: $fw;
}