$color_bg: #172224;
// $color_black-bg: #222222;
$color_text: #3D3A3A;
$color_white: #fff;
// $color_red: #EC1C24;
// $color_red-active: #DD1a21;
$color_green: #B1FE33;
$color_green-border: #D0FC1B;
$color_green-icon: #D4FF00;
$color_green-logo: #00915D;
$color_gray-bg: #292929; //card bg
// $color_gray-inp: #bdbdbd;
$color_gray-text: #C8C8C8;
// $color_gray-text-sel: #1a1a1a;
// $color_gray-light: #e3e3e3;
// $color_blue: #463998;
// $color_blue-lg: #E7E4FC;